[mysqld]
log_bin = /var/lib/mysql/mysql-bin.log  # Enable binary logging
server_id=1234
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_format=ROW
binlog_row_metadata=FULL
binlog_row_image=FULL
log_bin=mysql-bin
log_slave_updates=ON
